.c-card{
  width: 80%;
  max-height: 500px;
  min-height: 400px;
  background-color: white;
  margin: 10px 10px;
  text-align: center;
  animation-duration: 0.8s;
  -webkit-animation-name: toleft;
  animation-name: toleft;
  @media screen and (max-width: $res-max-width){
    width: 90%;
  }
  a{
    font-size: 100%;

  }
  p{
    max-height: 40%;
    height: auto;
    margin: 20px auto;
    font-size: 16px;
    letter-spacing: 1px;
    width: 90%;
    @media screen and (max-width: $res-max-width){
      height: auto;
    }
  }
  button{
    margin-top: 5%;
  }
  &__header{
    display: flex;
    justify-content: space-between;
    height: 90px;
    line-height: 30px;
    margin-top: 1%;
    font-size: $font-s;
  h4{
      margin-right: 10%;
      letter-spacing: 2px;
      font-weight: bold;
      font-size: 16px;
        @media screen and (max-width: $res-max-width){
          font-size: 12px;
        }
    }
  img{
    width: 60px;
    height: 60px;
    margin-left: 3%;
  }
}
}
