.p-autofollow{
  &__container{
  text-align: center;
  width: 100%;
    @media screen and (max-width: $res-max-width){
      text-align: left;
    }
  button{
    height: 50px;
    width: 50%;
    margin: auto;
    line-height: 50px;
    background-color: aquamarine;
    margin: 30px auto;
    border: 3px solid #232323;
    font-size: 20px;
    display: block;
    box-shadow: 3px 2px;
    &:hover{
      transform: translate3d(0, 5px, 0);
      color: #007db9;;
      box-shadow: none;
      background: #fff;
    }
  }

  h3{
    margin: 30px auto;
    @media screen and (max-width: $res-max-width){
      text-align: center;
    }
  }
  input{
    height: 20px;
  }
  p{
    height: 100px;
    width: 80%;
    margin: auto;
  }
  }

  &__description
  {
    width: 80%;
    margin: auto;
    animation-duration: 0.5s;
    -webkit-animation-name: toup;
    animation-name: toup;

      h3{
        @media screen and (max-width: $res-max-width){
          font-size: 16px;
        }
      }
  }

  &__start{
    width: 200px;
    height: 50px;
    font-size: 20px;
    border: 2px solid;
    box-shadow: 3px 2px;
      &:hover{
        transform: translate3d(0, 5px, 0);
        color: #007db9;;
        box-shadow: none;
        background: #fff;
      }
  }

  &__ongoing{
    text-align: center;
    color: #0351ff;
    font-weight: bold;
    font-size: 16px;
    animation: 2s linear infinite blink_effect;
  }
}
