.p-desc{
  &__main{
      text-align: center;
      @media screen and (max-width: $res-max-width){
        text-align: left;
      }
    }
  &__container{
      width: 100%;
        h2{
          font-size: $font-xl;
          color: #000000cf;
          @media screen and (max-width: $res-max-width){
            font-size: $font-l;
            height: 30px;
        }
      }
    }
    &__title{
      width: 80%;
      margin: 10% auto 5% auto;
      border-bottom: 1px solid;
          @media screen and (max-width: $res-max-width){
          padding-bottom: 5%;
          }
      h2{
        font-size: $font-xl;
        margin-left: auto;
        margin-right: auto;
          @media screen and (max-width: $res-max-width){
          font-size: 20px;
          }
      }
    }

    &__text{
        width: 80%;
        line-height: 30px;
        margin:auto;
        border-bottom: 1px solid;
          @media screen and (max-width: $res-max-width){
            text-align: left;
          }
      p{
        margin-left: auto;
        margin-right: auto;
      }
    }

}
