.p-header{
  &__logo{
    text-align: center;
    height: inherit;
    line-height: 60px;
    padding: 0 10px;
    font-size: 15px;
    letter-spacing: 4px;
    a{
      text-decoration: none;
      color: black;
    }
  }
  &__margin{
    height: 60px;
  }

  &__navi{
    align-items: center;
    margin: auto 0 auto 0;
    font-size: 0.8rem;
    letter-spacing: 1.5px;
    display: flex;
    @media screen and (max-width: $res-max-width){
    font-size: 10px;
    }
    ul{
      display: flex;
      align-items: center;
    }
    li{
      padding:1em;
      a{
        text-decoration: none;
        color: black;
      }
    }
    img{
      width: 30px;
    }
  }
  &__menu{
    display: flex;
    @media screen and (max-width: $res-max-width){
      display: block;
      position: absolute;
      top: 0;
      right: -100%;
      background: rgba(255, 255, 255, .85);
      width: 80%;
      height: 100vh; //ウインドウのサイズいっぱい。100%だと、親要素の100%になる
      padding-top: 50px;
      transition: .1s;
      &__active {
        transition: .5s;
        transform: translateX(-120%); //menuにactiveというクラスがついた時に移動。
        z-index: 2;
        right: 100;
      }
    }
    ul{
        @media screen and (max-width: $res-max-width){
          position: absolute;
          left: 100px;
          display: block;
          font-size: 16px;
          top: 100px;
          left: 20px;
          width: 100%;
        }
    }
  }
  &__user{
      @media screen and (max-width: $res-max-width){
        //display: none;
      }
  }
  &__user_name{
    display: none;
    @media screen and (max-width: $res-max-width){
      display: block;
    }
  }




}
