.p-header__logo{
  width: 20%;
  text-align: center;
  height: inherit;
  line-height: 60px;
  padding: 0 1vw;
  font-size: 15px;

  letter-spacing: 4px;
  a{
    text-decoration: none;
    color: black;
  }
}
