.p-news{
    &__container{
      width: 100%;
      margin: 30px auto;
      display: flex;
      flex-wrap: wrap;
      align-content: center;
      justify-content: center;
    }
    &__card{
      border: solid 1px #6091d3;
      border-radius: 10px;
      width: 48%;
      height: 200px;
      box-sizing: border-box;
      text-align: center;
      display: flex;
      margin: 3px;
      @media screen and (max-width: $res-max-width){
        width: 100%;
        display: block;
      }
      h4{
        height: 100%;
        text-align: center;
        padding: 15px;
        font-size: 18px;
        width: 80%;
        background-color: #00000014;
        text-align: left;
        box-sizing: border-box;
        border: solid 1px #6091d3;
        border-radius: 10px 0 0 10px;
        @media screen and (max-width: $res-max-width){
          font-size: 12px;
          height: 60%;
          width: 100%;
          border-radius: 10px
        }
      }
      span{
        font-size: 0.7rem;
        width: 30%;
        @media screen and (max-width: $res-max-width){
          margin: auto;
        }
      }
      &__right{
        width: 20%;
        background-color: #64f38b42;
        @media screen and (max-width: $res-max-width){
          display: flex;
          width: 100%;
          margin: auto;
        }
      }
      }
      &__jamp{
        padding: 0.5em 1em;
        margin: 15px 0;
        font-weight: bold;
        color: black;
        background: #FFF;
        border: solid 3px #6091d3;
        border-radius: 10px;
        line-height: 30px;
        display: inline-block;
        border: solid 1px #6091d3;
        border-radius: 10px;
        @media screen and (max-width: $res-max-width){
          width: 50%;
        }
        &:hover{
          transform: translate3d(0, 5px, 0);
          color: #007db9;;
          box-shadow: none;
          background: #fff;
        }


      }
}
