.p-sidebtn{
  width: 100%;
  height: 10%;
  font-size: 10px;
  display: block;
  @media screen and (max-width: $res-max-width){
    display: inline-block;
  }
  &:hover{
    transform: translate3d(0, 1px, 0);
    color: #007db9;
    box-shadow: none;
    background: #fff;
  }
  &__container{
    height: 100%;
  }
  &__coin{
    height: 30px;
    width: 100%;
    background-color: #e2e22b9e;
    &:hover{
      transform: translate3d(0, 1px, 0);
      color: #007db9;
      box-shadow: none;
      background: #fff;
    }
    &__container{
      height: 70%;
    }
  }
  &__highlight{
    height: 30px;
    width: 100%;
    background-color: red;
    font-weight: bold;
    font-size: 1rem;
  }
}

.btn_active{
  background-color: #00f7ffb0;
}
