.p-sidebtn{
  width: 100%;
  height: 10%;
  font-size: 10px;
  display: block;
  box-shadow: 1px 1px;
  @media screen and (max-width: $res-max-width){
    display: inline-block;
    width: 32%;
    height: 50px;
  }
  &:hover{
    transform: translate3d(0, 1px, 0);
    color: #007db9;
    box-shadow: none;
    background: #fff;
  }
  &__container{
    height: 100%;
  }
  &__coin{
    height: 30px;
    width: 20%;
    background-color: #07f4b84a;
    &:hover{
      transform: translate3d(0, 1px, 0);
      color: #007db9;
      box-shadow: none;
      background: #fff;
    }
    &__container{
      height: 70%;
      text-align: left;
      @media screen and (max-width: $res-max-width){
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        height: auto;
        background-color: #7fffdf54;
      }
    }
  }
  &__highlight{
    height: 30px;
    background-color: #ff570061;
    font-weight: liter;
    width: 100%;
  }
}

.btn_active{
  background-color: #00f7ffb0;
}
