.p-spnavi{
  display: none;
  position: relative;
  width: 50px;
  height: 44px;
  transition: all .4s;
  box-sizing: border-box;
    @media screen and (max-width: $res-max-width){
      display: inline-block;
      margin: 10px;
      z-index:10;
    }
  span{
    position: absolute;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: #050113;
    border-radius: 4px;
    display: inline-block;
    transition: all .4s;
    box-sizing: border-box;
    &:nth-of-type(1) {
      top: 0;
    }
    &:nth-of-type(2) {
      top: 20px;
    }
    &:nth-of-type(3) {
      bottom: 0;
    }
  }
  &:active span:nth-of-type(1) {
  -webkit-transform: translateY(20px) rotate(-45deg);
  transform: translateY(20px) rotate(-45deg);
    }
    &:active span:nth-of-type(2) {
      opacity: 0;
      }
    &:active span:nth-of-type(3) {
      -webkit-transform: translateY(-20px) rotate(45deg);
      transform: translateY(-20px) rotate(45deg);
      }

}
