.p-twiiter{
  &__container{
    width: 100%;
    margin: 15px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #c5f4f4;
    h2{
      text-align: center;
      width: 100%;
      margin: 24px;
    }
  }
  &__top{
    height: 300px;
    a{
      font-size: 20px;
      display: block;
      width: 50%;
      margin: 70px auto;
      background-color: #1e9bc936;
      padding: 20px;
      border: solid 0.5px;
      box-shadow: 4px 4px;
      &:hover{
        transform: translate3d(0, 5px, 0);
        color: #007db9;
        box-shadow: none;
        background: #fff;
      }
    }
  }

}
