.l-billboard{
  width: 100%;
  height: 80vh;
  background-image: url("../img/hero_image.jpg");
  background-size: cover;
  background-position:center bottom;
  &__mini{
    background-size: cover;
    width: 60%;
    margin: 100px auto;
    img{
      width: 100%;
    }
  }
}
