.l-footernavi__container{
    background-color: $main-color;
    color: black;
    border-top: solid black 1px;
    line-height: 20px;
    margin: auto;
    display: flex;
    justify-content:space-between;

    @media screen and (max-width: $res-max-width){
      display: block;
      width: 100%;
    }

    ul{
      padding: 10px;
      width: 20%;
      @media screen and (max-width: $res-max-width){
        width: 50%;
    }
    li{
      padding-bottom: 5px;
    }

    a{
      color: black;
    }
  }
