header{
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  background-color:$main-color;
  border-bottom: 3px solid;
  position: fixed;            /* ヘッダーの固定 */
  top: 0px;
  z-index: 10;
}
