
.l-main{
  width: 100%;
  height: 900px;
  overflow: hidden;
  &__sub{
    width: 95%;
    height: 700px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    @media screen and (max-width: $res-max-width){
      display: block;
      height: 600px;
    }
  }
  &__mini{
    width: 100%;
    height: 400px;
  }
  &__twitter{
    width: 100%;
    height: 100%;
  }
}
