.u-mark{
  font-size: 150%;
  display: inline;
  &__sp{
    display: none;
    @media screen and (max-width: $res-max-width){

    }
  }
  &__small{
    background: none;
    font-size: 14px;
    width: 100%;
    text-align: center;
    @media screen and (max-width: $res-max-width){
      font-size: 12px;
    }
  }
}
